streamlit
pandas
altair
folium
plotly
geopandas
pykrige
scipy
prophet
streamlit-folium
numpy
branca
openpyxl
rasterstats
xarray
Pillow
rioxarray
statsmodels
scikit-learn
pymannkendall
geopandas==0.14.4
Fiona==1.9.6
pyproj==3.6.1
Shapely==2.0.4
matplotlib
spei
gstools
