# requirements.txt

pandas
altair
folium
plotly
# geopandas  <-- Mantenemos deshabilitado por ahora para asegurar el despliegue
scipy
prophet
numpy
branca
openpyxl
# rasterstats
xarray
Pillow
# rioxarray
statsmodels
scikit-learn
pymannkendall
# gstools
# rasterio
fpdf2
climate-indices

# Nuevas librerías para Dash
dash
dash-bootstrap-components
