# requirements.txt

streamlit
pandas
altair
folium
plotly
# geopandas  <-- Deshabilitado temporalmente
scipy
prophet
streamlit-folium
numpy
branca
openpyxl
# rasterstats <-- Deshabilitado temporalmente
xarray
Pillow
# rioxarray  <-- Deshabilitado temporalmente
statsmodels
scikit-learn
pymannkendall
# gstools
# rasterio   <-- Deshabilitado temporalmente
fpdf2
climate-indices
